@page "/menu"
@inject NavigationManager Navigation

<div class="menu-container">
    <div class="menu-logo">
        <img src="Images/logo.png" alt="Logo" />
    </div>

    <div class="menu-buttons">
        <button class="menu-button" @onclick="@(() => Navigation.NavigateTo("usuarios"))">
            <i class="bi bi-house-door-fill"></i>
            Usuario
        </button>

        <button class="menu-button" @onclick="@(() => Navigation.NavigateTo("detalleUsuario"))">
            <i class="bi bi-person-fill"></i>
            Detalle de usuario
        </button>

        <button class="menu-button" @onclick="@(() => Navigation.NavigateTo("libros"))">
            <i class="bi bi-gear-fill"></i>
            Libro
        </button>

        <button class="menu-button" @onclick="@(() => Navigation.NavigateTo("detalleLibro"))">
            <i class="bi bi-gear-fill"></i>
            Detalle de libro
        </button>

        <button class="menu-button" @onclick="@(() => Navigation.NavigateTo("/" ))">
            <i class="bi bi-box-arrow-right"></i>
            Salir
        </button>
    </div>
</div>
